In [1]:
# For reading + writing and standarlize
import pandas as pd

# For check wrong format
import re

In [9]:
df = pd.read_csv('standarlized.csv')
df

,article_link,headline,posted_at,is_sarcastic
0,https://www.theguardian.com/law/2021/jun/08/po...,‘Powerful’ new watchdog will target unscrupul...,07/06/2021,0
1,https://www.theguardian.com/business/2021/jun/...,UK retail sales in May saw highest rise since ...,07/06/2021,0
2,https://www.theguardian.com/business/nils-prat...,G7 tax deal is welcome – but Treasury must now...,07/06/2021,0
3,https://www.theguardian.com/society/2021/jun/0...,Gambling awards under fire over lack of divers...,07/06/2021,0
4,https://www.theguardian.com/business/2021/jun/...,UK hospitality calls for deal with landlords t...,07/06/2021,0
...,...,...,...,...
210440,https://www.cbsnews.com/news/super-bowl-ads-se...,Super Bowl ads selling for more than $4 million,09/01/2013,0
210441,https://www.cbsnews.com/news/japan-airlines-ex...,Japan Airlines explains Dreamliner fuel leak,09/01/2013,0
210442,https://www.cbsnews.com/news/tech-myths-that-c...,Tech myths that cost you money,09/01/2013,0
210443,https://www.cbsnews.com/news/aig-thank-you-ame...,"AIG: Thank you, America -- and see you in court",09/01/2013,0
210444,https://www.cbsnews.com/news/ceo-gm-aims-for-i...,CEO: GM aims for investment-grade status this ...,09/01/2013,0

In [15]:
df['posted_at'] = pd.to_datetime(df['posted_at'])

In [23]:
start_date = pd.Timestamp('31/12/2017')
end_date = pd.Timestamp('today')
df.loc[(df['posted_at'] > start_date) & (df['posted_at'] < end_date)].sort_values('posted_at')

,article_link,headline,posted_at,is_sarcastic
35244,https://www.theguardian.com/lifeandstyle/2018/...,Glass half empty: the hangover from hell that ...,2018-01-01,0
72987,https://www.cbsnews.com/news/teen-dies-after-p...,"Teen dies after playing Russian roulette, poli...",2018-01-01,0
100225,https://www.cbsnews.com/news/u-k-parking-garag...,"U.K. parking garage fire destroys 1,400 cars",2018-01-01,0
100224,https://www.cbsnews.com/news/family-that-escap...,Last family to escape across Berlin Wall refle...,2018-01-01,0
100223,https://www.cbsnews.com/news/prison-riot-in-br...,"Prison riot leaves 9 dead, authorities say",2018-01-01,0
...,...,...,...,...
1238,https://www.theguardian.com/sport/2021/jun/06/...,"Sifan Hassan smashes women’s 10,000m record by...",2021-06-06,0
1237,https://www.theguardian.com/sport/live/2021/ju...,Yorkshire’s Patterson and Bess shock Sussex: c...,2021-06-06,0
1236,https://www.theguardian.com/sport/blog/2021/ju...,Adam Kirby delivered fairytale Derby win but ...,2021-06-06,0
1234,https://www.theguardian.com/football/2021/jun/...,Che Adams gives Scotland Euro 2020 lift agains...,2021-06-06,0
15,https://www.theguardian.com/business/2021/jun/...,UK second to France again for attracting forei...,2021-06-06,0